<%- include("header") -%>

<h1>this is a about page</h1>
<p>fkjfdkjfskajfkfjjf kjfsjfjaljfjfd ljfksjfskfjsjfljf ksjffjsajf j dkksfjkfjk fljfkljfkds skfja fkjdkf d jfdjk ffjffj</p>

<%- include("footer") -%>